
/*começo header*/
.menu-principal{
    position: fixed;
        width: 100%;
    background: white;
    z-index:10;
    top: 0;
}

header .menu-principal .container{
    width: 100%;
    position: relative;
    padding: unset;
}

header .menu-principal .logo_h img , logo_h{
    width: 150px;
}

header .menu-principal .menu-navbar {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: -10px;
    transform:rotate(0);
}
header .menu-principal .menu-nav{
    display: inline-block;
    padding: 0;
    transform:rotate(0);
}

header .menu-principal .menu-nav > li{
    display: inline;
    font: 500 14px/100px "Rubik", sans-serif;
    text-transform: uppercase;
    color: #000000;
    padding: 5px;
    transform:rotate(0);
}

header .menu-principal .menu-nav > li a{
    font-size: 20px;
    color: #000000;
}

header .menu-principal .menu-nav > li a:hover{
    color: #00909f;
    text-decoration: underline;
}

.header_area .navbar .nav .nav-item .nav-link {
        font: 500 14px/100px "Rubik", sans-serif;
        text-transform: uppercase;
        color: #000000;
        padding: 0px;
        display: inline-block;
}

@media (max-width: 1420px){

     header .menu-principal .menu-nav > li a{
         font-size: 17px;
     }
 }



@media (max-width: 770px){
    header .menu-principal .container{
        height: 150px;
        width: 100%;
        margin-right: unset;
        margin-left: unset;
        max-width: unset;
    }

    header .menu-principal .logo_h img{
        width: 150px;
        display:inline-block;
        position: absolute;
        right: auto;
        top: auto;
        left: 0;
        bottom: auto;
    }
    header .menu-principal .menu-navbar{
        font-size: 15px;
        right: 20px;
     }
     header .menu-principal .menu-nav > li a{
         font-size: 15px;
     }
}

@media (max-width: 620px){
    header .menu-principal .logo_h img{
        top:20px
    }
    header .menu-principal .menu-nav{
        display: block;
        height: 30px;
        margin-right: 20px;
    }
}

@media (max-width: 450px){
    header .menu-principal .logo_h img{
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    header .menu-principal .menu-navbar{
        right: 0;
        width: 254px;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
    }
    header .menu-principal .menu-nav{
        display: block;
        height: 90px;
        margin: 0 auto;
    }
     header .menu-principal .menu-nav > ul{
         font-size: 15px;

     }
}
/*Fim header*/

/*começo sobre*/
.about_area{
    padding-top: 80px;
}
.about_area .sobre-mim{
     font-size: 17px;
 }
/*Fim do sobre*/

/*Começo de habilidades*/

.features_area{
    padding-top: 100px;
    padding-bottom: 120px;
}

.features_area .main_title{
    margin-bottom: 20px;
}
.features_area .feature_item{
    height: 24em;
    margin-bottom: 0;
}
.previous{
    width: 2em;
    margin-right: 200px;
}
.next{
    width: 2em;
    margin-left: 200px;
}


